metadata/android/en-GB/images
metadata/android/en-GB/*.txt
metadata/android/en-GB/changelogs/*
!metadata/android/en-GB/changelogs/default.txt

metadata/android/en-US/images
metadata/android/en-US/*.txt
metadata/android/en-US/changelogs/*
!metadata/android/en-US/changelogs/default.txt

metadata/android/id/images
metadata/android/id/*.txt
metadata/android/id/changelogs/*
!metadata/android/id/changelogs/default.txt

metadata/android/ms/images
metadata/android/ms/*.txt
metadata/android/ms/changelogs/*
!metadata/android/ms/changelogs/default.txt

metadata/android/ms-MY/images
metadata/android/ms-MY/*.txt
metadata/android/ms-MY/changelogs/*
!metadata/android/ms-MY/changelogs/default.txt
